@import url('https://fonts.googleapis.com/css?family=Overpass:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.sidebar h1 {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.game-container {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

.game-form {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-right: 20px;
}

.board {
  background-color: rgba(137, 212, 153, 0.5);

  background-size: cover;
}


.view {
  width: 50%;
  display: flex;
  position: relative;
  padding-left: 20px;
}

.board {
  display: flex;
  min-height: 700px;
  position: absolute;
  width: 100%;
}

.puddle {
  min-height: 700px;
  display: flex;
  position: absolute;
  width: 100%;
}

.puddle-7 {
  min-height: 700px;
  display: flex;
  position: absolute;
  width: 100%;
  padding-top: 10px;
}


.flamingo-img {
  height: 150px;
  width: 17%;
  z-index: 10;
}

.bounce {
  height: 150px;
  width: 17%;
  z-index: 10;
}

.puddle-img {
  height: 150px;
  width: 17%;
  z-index: 8;
}
.bounce {
  height: 150px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
   40% {transform: translateY(-30px);}
   60% {transform: translateY(-15px);}
}

.bounce {
   -webkit-animation-name: bounce;
   animation-name: bounce;
}
